$primary-black: #0e0e0e;
$primary-white: #F9FEFF;
$accent-light-gray: #999BA0;
$accent-mid-gray: #858585;
$accent-blue: #03DFFD;
$accent-yellow: #F2FF47;
$accent-yellow-green: #E5FE00;
$accent-green: #ADFF00;
$accent-red: #FF93AD;
$error-red: #ff0000;
