$c-primary-black: #0e0e0e;
$c-primary-white: #F9FEFF;
$c-accent-light-gray: #999BA0;
$c-accent-mid-gray: #858585;
$c-accent-blue: #03DFFD;
$c-accent-yellow: #F2FF47;
$c-accent-yellow-green: #E5FE00;
$c-accent-green: #ADFF00;
$c-accent-red: #FF93AD;
$c-error-red: #ff0000;
