/*------------ texts ------------*/
@mixin main-h1 ($size: em(110), $height: 100%, $color: $primary-black) {
  font-family: "Montserrat-Bold", serif;
  font-style: normal;
  font-size: $size;
  font-weight: 700;
  line-height: $height;
  color: $color;
  letter-spacing: -0.007em;
  text-transform: uppercase;
}

@mixin h2 ($size: em(42), $height: 110%, $color: $primary-white) {
  font-family: "Montserrat-Bold", serif;
  font-style: normal;
  font-size: $size;
  font-weight: 600;
  line-height: $height;
  color: $color;
  text-transform: uppercase;
}

@mixin h3-small ($size: em(26), $height: 120%) {
  font-family: "Poppins-Regular", serif;
  font-style: normal;
  font-size: $size;
  font-weight: 600;
  line-height: $height;
  text-transform: uppercase;
}

@mixin description-hide ($size: em(42), $height: 120%) {
  font-family: "Poppins-Regular", serif;
  font-style: normal;
  font-size: $size;
  font-weight: 300;
  line-height: $height;
}

@mixin description-low ($size: em(10), $height: 160%) {
  font-family: "Poppins-Regular", serif;
  font-style: normal;
  font-size: $size;
  font-weight: 400;
  line-height: $height;
}

@mixin txt-body ($size: em(16), $height: 160%) {
  font-family: "Poppins-Regular", serif;
  font-style: normal;
  font-size: $size;
  font-weight: 400;
  line-height: $height;
}


@mixin txt-button ($size: em(12), $height: 140%) {
  font-family: "Poppins-Regular", serif;
  font-style: normal;
  font-size: $size;
  font-weight: 500;
  line-height: $height;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}


/*------------ borders ------------*/
@mixin border-white ($size: em(2), $color: $primary-white) {
  border: $size solid $color;
}
