/*------------ texts ------------*/
@mixin m-main-h1 ($size: em(110), $height: 100%, $color: $c-primary-black) {
  font-family: "Montserrat-Bold", serif;
  font-style: normal;
  font-size: $size;
  font-weight: 700;
  line-height: $height;
  color: $color;
  letter-spacing: -0.007em;
  text-transform: uppercase;
}

@mixin m-custom-heading ($size: em(26), $height: 120%,) {
  font-family: "Montserrat-SemiBold", serif;
  font-style: normal;
  font-size: $size;
  font-weight: 600;
  line-height: $height;
  text-transform: uppercase;
}

@mixin m-txt-body ($size: em(16), $height: 160%) {
  font-family: "Poppins-Regular", serif;
  font-style: normal;
  font-size: $size;
  font-weight: 400;
  line-height: $height;
}


@mixin m-txt-button ($size: em(12), $height: 140%) {
  font-family: "Poppins-Regular", serif;
  font-style: normal;
  font-size: $size;
  font-weight: 500;
  line-height: $height;
  letter-spacing: 0.01em;
}


/*------------ borders ------------*/
@mixin m-border-white ($size: em(2), $color: $c-primary-white) {
  border: $size solid $color;
}

/*------------ Grids ------------*/
@mixin m-col-3-grid ($mt: em(32)){
  margin-top: $mt;
  display: grid;
  grid-column-gap: em(89);
  grid-row-gap: em(96);
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

// is used to indent text blocks
@mixin m-col-1-grid ($row-gap: em(16), $mt: em(0)){
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: $row-gap;
  margin-top: $mt;
}

@mixin m-universal-text (
  $size: em(26),
  $height: 120%,
  $font: "Poppins-Light",
  $fontstyle: normal,
  $fontweight: 700
) {
  font-family: $font;
  font-style: $fontstyle;
  font-size: $size;
  font-weight: $fontweight;
  line-height: $height;
  text-transform: uppercase;
}
