/*----------------------- main styles ------------------------------ */
body {
  font-size: 1.1111111111111112vw;
}

section {
  width: 100%;
  transition: all .2s;
}

.container{
  margin: 0;
  max-width: em(1440);
}

/*----------------------- mobile styles ------------------------------ */
@include mobile {
  section {
    width: 100%;
  }

  .container {
    max-width: px(375);
  }


}
