/*------------ Text Style ------------*/
.text-heading-up4 {
  font-family: $ft-header-fonts--bold;
  font-style: normal;
  font-size: fC(4);
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  letter-spacing: -0.007em;
}

.text-base-up2 {
  font-family: $ft-body-fonts--regular;
  font-style: normal;
  font-size: fC(2);
  font-weight: 400;
  line-height: 120%;
}

.text-heading-up2 {
  font-family: $ft-header-fonts--semibold;
  font-style: normal;
  font-size: fC(2);
  font-weight: 600;
  line-height: 100%;
  text-transform: uppercase;
}

.text-base-up1 {
  font-family: $ft-body-fonts--light;
  font-style: normal;
  font-size: fC(1);
  font-weight: 300;
  line-height: 120%;
}

.text-base {
  font-family: $ft-body-fonts--regular;
  font-style: normal;
  font-size: em(16);
  font-weight: 400;
  line-height: 160%;
}

.text-base-down1 {
  font-family: $ft-body-fonts--regular;
  font-style: normal;
  font-size: fC(-1);
  font-weight: 400;
  line-height: 160%;
}
