$browser-context-em: 16;
$browser-context-px: 1;
$body-main-size-font: 1.1111111111111112vw;
$breakpoints: (
        'bp-xl': 1440px,
        'bp-l': 991px,
        'bp-m': 767px,
        'bp-s': 479px
);

$base-time: 200ms;
